<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指向mapper接口-->
<mapper namespace="com.mapper.UsersMapper">

    <!--二级缓存,只作用于此namespace,可以通过修改cache标签里的属性来自定义缓存-->
    <cache/>
    <!--结果映射,处理字段与属性名不一致的情况,只映射不一样的就可以-->
    <resultMap id="suiMap" type="SuiBian">
        <!--column是数据库中的字段名,property是实体类中的属性名-->
        <result column="u_id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="pwd" property="password"></result>
        <!--如果两表中数据库有重名字段,一定要映射一下,不然该字段会读不到,为null-->
        <association property="sexCode" javaType="com.model.Sex">
            <result property="id" column="t_id"></result>
            <result property="name" column="s_name"></result>
        </association>
    </resultMap>

    <!--预编译时,#{}会把参数部分用一个占位符 ? 代替;${}将参数取出不做任何处理，直接放入语句中，就是简单的字符串替换，
        并且该参数会参加SQL的预编译,所以会导致sql注入问题-->
    <select id="getUsers" parameterType="_int" resultType="SuiBian">
        select * from users where u_id=#{idu};
    </select>
    <insert id="addUser" parameterType="SuiBian">
        insert into users (id,name,pwd) values (#{id},#{name},#{password});
    </insert>
    <!--parameterType 这条语句的参数的类全限定名或类型别名(类型别名,官方文档)-->
    <select id="getLimitUsers" parameterType="map" resultMap="suiMap">
        /*LIMIT(从第几个开始,每页显示几个)*/
        select u.`name`,s.`s_name` from users u ,sex s where u.tea_code=s.code limit #{startIndex},#{pageSize};
    </select>
    <select id="getUsersSex" resultMap="suiMap">
        select u.`name`,s.`s_name` from users u ,sex s where u.tea_code=s.code;
    </select>
    <!--模糊查询 只能用${},不能用#{},语句会报错-->
    <select id="getDongTai" resultMap="suiMap" parameterType="string">
        select u.*,s.* from users u ,sex s
        <where>
            <if test="word=='' ">
                u.tea_code=s.code
            </if>
            <if test="word!='' ">
                u.tea_code=s.code and u.name like '%${word}%'
            </if>
        </where>
    </select>
</mapper>